src/*.o
*.exe
build/
yac
*.prof
a_native1.prof
yc_a
yc_b
yc_C
yc_D
yc_A
yc_A
yc_c
tests/compiler/cases/add
tests/compiler/cases/ccall_putchar
tests/compiler/cases/ccall_cload
tests/compiler/cases/ncap12_disp8
